# functions used inside song-base.json++
function object_merge() {
  echo "{}"
}

function array_append() {
  echo "[]"
}
function voice() {
  local _voice_name="${1}"
  echo "{}"
}

function bar() {
  local _bar_name="${1}"
  echo "{}"
}

function voice_alias_of() {
  local _voice_name="${1}"
  echo "{}"
}

function stroke() {
  local _stroke="${1}"
  echo "{}"
}

function inline() {
  local _inlined_node="${1}"
  # This is on purpose to compose '$inline:' value syntax of symfonion.
  # shellcheck disable=SC2016
  printf '$inline:%s' "${_inlined_node}"
}